// ********* FONTS **************//

$fontFamily: 'Playfair Display',
serif;
$headerFontFamily: 'Teko',
sans-serif;

// ************ COLORS ***************//

$primaryColor: #fff;
$mainInfoTextColor: #fff;
$backgroundColor: rgba(0, 0, 0, 0.7);