* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.weather .title {
  margin: 0 0 20px 0;
  font-size: 80px;
}
.weather .weather-form {
  max-width: 500px;
  width: 100%;
  margin: 0 0 20px 0;
}
.weather .weather-form .city {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.weather .loader {
  display: none;
}
.weather .api-data .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: #fff;
  border-radius: 10px;
}
.weather .api-data .main-info .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  margin: 0 20px;
}
.weather .api-data .main-info .degrees span {
  margin: 0 0 0 10px;
  font-size: 14px;
}
.weather .api-data .main-info .info p {
  margin: 0 0 4px 0;
}
.weather .api-data .main-info .info p:last-of-type {
  margin-bottom: 0;
}
.weather .error {
  background-color: #d10c0c;
  color: #fff;
  border: 5px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  font-size: 21px;
  letter-spacing: 1px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}